@model IEnumerable<Referee.ViewModels.NominationDetails>
@using Referee.Helpers
@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)

@{
    bool CanConfirm = false;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>
<div class="wrapper">
    @using (Html.BeginForm("Index", "Nomination", FormMethod.Get ))
    {
        <div class="widget fluid">
        <div class="whead"><h6>Wyszukaj obsad</h6><div class="clear"></div></div>
        <div class="formRow">
            <div class="grid1"><label>OD:</label></div>
            <div class="grid2">
                @Html.TextBox("dtStart", (string)ViewBag.dtStart, new { @class = "datepicker"})
            </div>
            <div class="grid1"><label>DO:</label></div>
            <div class="grid2">
                
                @Html.TextBox("dtEnd", (string)ViewBag.dtEnd, new { @class = "datepicker"})
            </div>
            <div class="grid2">
                @Html.DropDownList("league", (SelectList)ViewBag.Leagues, "Wybierz ligę")                
            </div>
            <div class="grid2">
                <input type="submit" value="Wyszukaj obsad" name="SearchSubmit" class="buttonS bBlue" />
            </div>
            <div class="grid2">
                <a href="/Nomination" class="buttonS bGold" >Pokaż wszystkie obsady</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    }
    <div class="widget">
    <div class="whead">
        <h6>Obsady sędziowskie</h6>
        <div class="clear"></div>
    </div>    
    <table cellpadding="0" cellspacing="0" width="100%" class="tDefault">
        <thead>
            <tr>
                <td>
                    Mecz/Turniej
                </td>
                <td>
                    Data
                </td>
                <td>
                    Godzina
                </td>
                <td>
                    Pozostali sędziowie
                </td>
            </tr>
        </thead>
        <tbody>

@foreach (var item in Model)
{
    if (item.Nomination.Published)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Time)
                </td>
                <td>
                    @if (item.NominatedReferees.Count() > 0)
                    {
                        foreach (var referee in item.NominatedReferees)
                        {
                            if (referee.Confirmed) 
                            {
                                <span class="greenBack">
                                    @String.Format("Sędzia {0}: {1}", referee.Function.Name, referee.Referee.FullName)
                                </span>
                            }
                            else
                            {
                                <span>
                                    @String.Format("Sędzia {0}: {1}", referee.Function.Name, referee.Referee.FullName)
                                </span>
                            }
                            
                            <br />
                        }
                    }        
                </td>               
            </tr>
    }
}
        </tbody>
    </table>
    <div id="openableDialogContener" class="dialog" title=""></div>
    </div>
</div>