@model Referee.Models.Tournament
@using Referee.Helpers 

@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>

@{
    var nomination = (Referee.Models.Nomination)ViewBag.Nomination;
}   
<div class="wrapper">
    <div class="fluid">
        <div class="widget grid12">
            <div class="whead">
                <h6>@Html.DisplayFor(model => model.Name)</h6>
                <div class="clear"></div>
            </div>
            <div class="grid4">
                <ul class="updates">
                    <li>
                        <a href="#">@Model.Name</a>
                    </li>
                    <li>
                        <strong>Data turnieju:</strong>
                        @Model.StartDate.ToShortDateString()
                        @if (Model.StartDate != Model.EndDate)
                        {
                            @String.Format(" - {0}", Model.EndDate.ToShortDateString())
                        }
                    </li>
                    <li>
                        <strong>Godzina rozpoczęcia: </strong>@Model.StartTime
                    </li>
                </ul>
            </div>
            <div class="grid4">
                <ul class="updates">
                    <li>
                        <strong>Osoba kontaktowa: </strong>@Model.Organizer
                    </li>
                    <li>
                        <strong>Miejsce: </strong>@Model.Venue
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="grid8">
                <ul class="updates">
                    <li>@Model.TeamsEnrolled</li>
                    <li>@Model.Note</li>
                </ul>
            </div>
            <div class="clear"></div>
            @if (nomination != null)
            {
                <div class="grid4">
                    <ul class="updates">
                        @foreach (var n in nomination.Nominateds)
                        {
                            <li>
                                @Html.AuthLink(String.Format("Sędzia {0}: {1}", n.Function.Name, n.Referee.FullName),
                                                   "Details",
                                                   "Referee",
                                                   new { @id = n.RefereeId },
                                                   new { },
                                                   HelperRoles.Sedzia)
                            </li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            }
        </div>
    </div>
</div>