@model IEnumerable<Referee.Models.Tournament>
@using Referee.Helpers 

@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)
<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>
<div class="wrapper">
    <div class="widget">
        <div class="whead">
            <h6>Lista turniejów</h6>
            <div class="clear"></div>
        </div>
        <table cellpadding="0" cellspacing="0" width="100%" class="tAlt wGeneral">
            <thead>
                <tr>
                    <td>
                        Turniej
                    </td>
                    <td>
                        Miejsce
                    </td>
                    <td>
                        Data
                    </td>
                    <td>
                        Godzina rozpoczęcia
                    </td>
        
                    <td></td>
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
            @if (item.StartDate != item.EndDate)
            {
                <span> - </span>@item.EndDate.ToShortDateString()
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.AuthLink("Edytuj", "Edit", "Tournament", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS", @title = "Edytuj turniej" })
            @Html.AuthLink("Pokaż szczegóły", "Details", "Tournament", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS", @title = "Pokaż szczegóły turnieju" })
            @Html.AuthLink("Usuń", "Delete", "Tournament", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS openableDialogContenerButton", @title = "Usuń turniej" })
        </td>
    </tr>
}
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">Brak meczy dla tej ligi.</td>
            </tr>

        }
            </tbody>
        </table>
    </div>
    <div id="openableDialogContener" class="dialog" title=""></div>
</div>