@model Referee.Models.Club

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)

<div class="wrapper">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="widget fluid">
            <div class="whead"><h6>Dodaj nowy klub siatkarski</h6><div class="clear"></div></div>
                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.Phone)
                        @Html.ValidationMessageFor(model => model.Phone)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.Mailadr)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.Mailadr)
                        @Html.ValidationMessageFor(model => model.Mailadr)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.Zip)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.Zip)
                        @Html.ValidationMessageFor(model => model.Zip)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.City)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.City)
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.Address)
                        @Html.ValidationMessageFor(model => model.Address)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(model => model.WebSite)
                    </div>
                    <div class="grid9">
                        @Html.EditorFor(model => model.WebSite)
                        @Html.ValidationMessageFor(model => model.WebSite)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3"></div>
                    <div class="grid9">
                        <input class="buttonS bGreen" type="submit" value="Utwórz" />                
                    </div>
                    <div class="clear"></div>
                </div>
        </div>
    </fieldset>
}
</div>