@model Referee.ViewModels.ClubDetails
@using Referee.Helpers

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>

@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)
<div class="wrapper">
    <div class="fluid">
        <div class="widget grid4">
            <div class="whead">
                <h6>@Html.DisplayFor(model => model.Club.Name)</h6>
                    @Html.AuthLink("Dodaj zespół", "create", "team", new { @Clubid = Model.Club.Id }, new { @class = "buttonH bGreen" })
                <div class="clear"></div>
            </div>
            <ul class="updates">
                <li>
                    <div class="wNews">
                        <div class="announce">
                            <a href="#" title="">
                                @Html.DisplayFor(model => model.Club.Name)
                             </a>
                             <span>
                                @Html.DisplayFor(model => model.Club.Phone)
                             </span>
                             <span>
                                @Html.DisplayFor(model => model.Club.Mailadr)
                             </span>
                             <span>
                                @Html.DisplayFor(model => model.Club.WebSite)
                             </span>
                             <span>
                                @Html.DisplayFor(model => model.Club.Zip) @Html.DisplayFor(model => model.Club.City),
                                @Html.DisplayFor(model => model.Club.Address)
                             </span>
                        </div>
                    </div>
                    <span class="clear"></span>
                </li>
            </ul>
        </div>
        <div class="widget grid8">
            <div class="whead"><h6>Drużyny</h6><div class="clear"></div></div>
            <div class="body">
            <table cellpadding="0" cellspacing="0" width="100%" class="tAlt wGeneral">
        <thead>
            <tr>
                <th>
                    Nazwa drużyny
                </th>
                <th>
                    Płeć
                </th>
                <th>
                    Adres hali
                </th>
                <th>
                    Trener
                </th>            
                <th></th>
            </tr>
        </thead>
        <tbody>
    

    @foreach (var item in Model.Teams) {
        <tr>
            <td>
                <a href="#" title="">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>   
            <td align="center">
                <strong>
                    @Html.DisplayFor(modelItem => item.Coach)
                </strong>
                <span>
           
                    @{
                        if ( item.CoachPhoneVisible != null && (bool)item.CoachPhoneVisible && item.CoachPhone != null )
                        {
                            @Html.DisplayFor(modelItem => item.CoachPhone);
                        }
                        <br />
                        if (item.CoachMailAdressVisible != null &&(bool)item.CoachMailAdressVisible && item.CoachMailAdress != null)
                        {

                            @Html.DisplayFor(modelItem => item.CoachMailAdress);
                        }
                    }
            
                </span>
            </td>
            <td>
                @Html.AuthLink("Edytuj", "Edit", "Team", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS", @title = "Zmień dane drużyny" })
                @Html.AuthLink("Usuń", "Delete", "Team", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS openableDialogContenerButton", @title = "Usuń dane drużyny" })
            </td>
        </tr>
    }
        </tbody>
    </table>
        
            </div>
        </div>
        <div id="openableDialogContener" class="dialog" title=""></div>
    </div>
</div>