@model IEnumerable<Referee.ViewModels.NominationDetails>

<table>
    <thead>
        <tr>
        <td>
            Mecz/Turniej
        </td>
        <td>
            Data
        </td>
        <td>
            Godzina
        </td>
        <td>
            Obsada sędziowska
        </td>
        <td>
            Confirmed
        </td>
        <td>
            ConfirmationDate
        </td>
        <td>
            Emailed
        </td>
        <td>
            EmailDate
        </td>        
        <td></td>
    </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NominatedReferees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfirmationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emailed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    </tbody>

</table>
