@model Referee.Models.ChangePasswordModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <div class="widget">
                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="grid3">
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="grid3">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="grid3">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="formRow">
                    <div class="grid3"></div>
                    <div class="grid3">
                        <input class="buttonS bGreen" type="submit" value="Zmień hasło" />                
                    </div>
                    <div class="clear"></div>
                </div>
            </div>            
        </fieldset>
    </div>
}
