@model Referee.Models.LogOnModel

@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <div class="loginPic">
        <a href="#" title=""><img src="@Url.Content("~/Content/themes/aquincum/images/userLogin2.png")" alt="" id="LoginImg" /></a>
        <span>Witaj, czy jesteś sędzią?</span>
        <div class="loginActions">
            <div><a href="#" title="Change user" class="logleft flip"></a></div>
            <div><a href="#" title="Forgot password?" class="logright"></a></div>
        </div>
    </div>
        
    @Html.TextBoxFor(m => m.UserName, new { @class = "loginEmail", @placeholder = "Użytkownik" })
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.PasswordFor(m => m.Password, new { @class = "loginPassword", @placeholder = "Hasło" })
    @Html.ValidationMessageFor(m => m.Password)
    @Html.ValidationSummary(true, "Niepoprawne logowanie. Proszę poprawić błędy i spróbować ponownie.")
        
    <div class="logControl">
        <div class="memory">@Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked", @class = "check", @id = "remember1" })<label for="remember1">Pamiętaj mnie!</label></div>
        <input type="submit" name="submit" value="Zaloguj" class="buttonM bBlue" />
        <div class="clear"></div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("input.loginEmail").bind("blur", function () {
            var username = $(this).val();
            if (username != "") {
                $.ajax({
                    url: "/Account/GetPhoto",
                    data: { "u": username },
                    dataType: "json",
                    type: "POST"
                })
                .done(function (data) {
                    if (typeof (data) != undefined && data.photo != "") {
                        $("img#LoginImg").attr("src", data.photo);
                    }
                });
            }
        });
    });
</script>