@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
    string Token = Convert.ToString(ViewBag.Token);
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    <div class="loginPic">
        <span>Proszę wpisz swoje nowe hasło. Hasło musi być podane dwukrotnie.</span>
        
    </div>
    @Html.Hidden("Token", Token)
    @Html.Password("NewPassword", "", new { @class = "loginPassword", @placeholder = "Hasło" })
    @Html.Password("NewPasswordRepeated", "", new { @class = "loginPassword", @placeholder = "Powtórz Hasło" })
        
    <div class="logControl">
        <input type="submit" name="submit" value="Zmień hasło" class="buttonM bGreen" />
        <div class="clear"></div>
    </div>
}