    @model IEnumerable<Referee.Models.RefereeEntity>
@using Referee.Helpers           
@using Referee.Lib           

<script type="text/javascript" src="@Url.Content("~/Scripts/custom/custom.js")" ></script>


@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)

<div class="wrapper">

    <div class="widget">
        <div class="whead">
            <h6>Lista sędziów</h6>
            <div class="clear"></div>
        </div>
        <div id="dyn2" class="shownpars">
            <a class="tOptions act" title="Options">
                <img src="@Url.Content("~/Content/themes/aquincum/images/icons/options")" alt="" />
            </a>
            <table cellpadding="0" cellspacing="0" width="100%" class="tDefault tMedia dTable">
        <thead>
           <!-- <tr>
                <td colspan="10">
                    <a href="#">A</a>
                    <a href="#">B</a>
                    <a href="#">C</a>
                    <a href="#">D</a>
                    <a href="#">E</a>
                    <a href="#">F</a>
                    <a href="#">G</a>
                    <a href="#">H</a>
                    <a href="#">I</a>
                    <a href="#">J</a>
                    <a href="#">K</a>
                    <a href="#">L</a>
                    <a href="#">M</a>
                    <a href="#">N</a>
                    <a href="#">O</a>
                    <a href="#">P</a>
                    <a href="#">R</a>
                    <a href="#">S</a>
                    <a href="#">T</a>
                    <a href="#">U</a>
                    <a href="#">W</a>
                    <a href="#">X</a>
                    <a href="#">Y</a>
                    <a href="#">Z</a>
                </td>
            </tr> -->
            <tr>
                <td width="50"></td>
                <td class="sortCol">
                    Nazwisko, Imię
                </td>
                @if (Request.IsAuthenticated)
                {           
                <td class="sortCol">
                    Adres mailowy
                </td>
                <td class="sortCol">
                    Telefon
                </td>
                <td class="sortCol">
                    Telefon komórkowy
                </td>
                }
                <td class="sortCol" width="100">
                    Klasa sędziowska
                </td>
                <td class="sortCol" width="100">
                    Uprawnienia
                </td>
                @if (Request.IsAuthenticated)
                {  
                <td></td>
                }
            </tr>
        </thead>
        <tbody>
    
    

    @foreach (var item in Model) {
        <tr>
            <td>
                <a class="lightbox" title="" href="#">
                    @if (String.IsNullOrEmpty(item.Photo))
                    {
                        <img width="45px" height="46px" src="@Url.Content("~/Content/themes/aquincum/images/userLogin2.png")" alt="" />
                    }
                    else
                    {
                        <img width="45px" height="46px" src="@Url.Content(FileUploader.GetUserPhotoPath(String.Format("{0}{1}",item.DestinationFolder, item.Photo)))" alt="" />            
                    }
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName),
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            @if (Request.IsAuthenticated)
            {
            <td>
                @Html.DisplayFor(modelItem => item.Mailadr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>   
            }     
            <td>
                @Html.DisplayFor(modelItem => item.RefClass.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorization.Name)
            </td>
            @if (Request.IsAuthenticated)
            {  
            <td>
                @Html.AuthLink("Pokaż", "Details", "Referee", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS", @title = "Pokaż sędziego" }, HelperRoles.Sedzia)
                @Html.AuthLink("Edytuj", "Edit", "Referee", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS", @title = "Edytuj dane sędziego" }, HelperRoles.RefereatObsad)
                @Html.AuthLink("Usuń", "Delete", "Referee", new { id = item.Id }, new { @class = "tablectrl_small bDefault tipS openableDialogContenerButton", @title = "Usuń sędziego" }, HelperRoles.RefereatObsad)
            </td>
            }
        </tr>
    }
            </tbody>
        </table>
        </div>
        <div id="openableDialogContener" class="dialog" title=""></div>
    </div>
</div>