@model Referee.Models.Team
@using Referee.Models;           

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Html.Partial("_ContentTop", ViewData)

@Html.Partial("_CustomBreadcrumbBar", ViewData)
<div class="wrapper">
    @using (Html.BeginForm("create", "team"))
    {
        @Html.ValidationSummary(true)
        <fieldset>

            <div class="widget fluid">
                <div class="whead"><h6>Dodaj nowy zespół</h6><div class="clear"></div></div>
            
                @if (ViewBag.CLubId == null)
                {
             
                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.ClubId)
                        </div>
                        <div class="grid9">
                            @Html.DropDownListFor(model => model.ClubId, (SelectList)ViewBag.Clubs)
                            @Html.ValidationMessageFor(model => model.ClubId)
                        </div>
                        <div class="clear"></div>
                    </div>
                
                }
                else
                {
                    @Html.Hidden("ClubId", (Guid)ViewBag.ClubId)
                }
                @Html.HiddenFor(Model => Model.Longitude)
                @Html.HiddenFor(Model => Model.Latitude)
            
                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.Gender, "Gender")
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.Venue)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.Venue)
                            @Html.ValidationMessageFor(model => model.Venue)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.Coach)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.Coach)
                            @Html.ValidationMessageFor(model => model.Coach)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.CoachPhone)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.CoachPhone)
                            @Html.ValidationMessageFor(model => model.CoachPhone)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.CoachPhoneVisible)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.CoachPhoneVisible)
                            @Html.ValidationMessageFor(model => model.CoachPhoneVisible)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.CoachMailAdress)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.CoachMailAdress)
                            @Html.ValidationMessageFor(model => model.CoachMailAdress)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            @Html.LabelFor(model => model.CoachMailAdressVisible)
                        </div>
                        <div class="grid9">
                            @Html.EditorFor(model => model.CoachMailAdressVisible)
                            @Html.ValidationMessageFor(model => model.CoachMailAdressVisible)
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3">
                            Dopisz zespół do ligi
                        </div>
                        <div class="grid9">
                            @Html.DropDownList("selectedLeagues", (MultiSelectList)ViewBag.Leagues, new { @multiple = "multiple", @class = "fullwidth select" })
                        </div>
                    <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <div class="grid3"></div>
                        <div class="grid9">
                            <input class="buttonS bGreen" type="submit" value="Utwórz" id="createTeam" />                
                        </div>
                        <div class="clear"></div>
                    </div>
            </div>





        </fieldset>
    }
</div>
